.documentation {
  display: flex;
}
.textPart {
  width: 80%;
}
.header{
  font-size: 20px;
  color: #141e50;
  font-weight: 700;
}
.subText{
  font-size: 20px;
  color: #000000;
  font-weight: 400;
}
.downloadsPart {
  width: 20%;
}
.downloadButton {
  border-radius: 6px;
  margin-top: 10px;
  padding: 7px 17px;
  border: 2px solid #000154;
  background: none;
  color: #000154;
  font: inherit;
  cursor: pointer;
}
.downloadButton:hover {
  border-radius: 6px;
  margin-top: 54px;
  padding: 17px 17px;
  background-color: #000154;
  color: #fff;
  font: inherit;
  cursor: pointer;
}