.container {
    display: flex;
    width: 100%;
    max-width: 1675px;
    gap: 40px 100px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
    }
  }
  
  .contentWrapper {
    flex-grow: 1;
    flex-basis: auto;
  }
  
  @media (max-width: 991px) {
    .contentWrapper {
      max-width: 100%;
    }
  }
  
  .flexContainer {
    gap: 20px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .flexContainer {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  }
  
  .imageColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0;
  }
  
  @media (max-width: 991px) {
    .imageColumn {
      width: 100%;
    }
  }
  
  .constructionImage {
    aspect-ratio: 2.34;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }
  
  .textColumn {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 67%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .textColumn {
      width: 100%;
    }
  }
  
  .tagline {
    color: rgba(149, 145, 197, 1);
    letter-spacing: 0.96px;
    margin-top: 83px;
    font: 400 32px Jacques Francois, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .tagline {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .logo {
    aspect-ratio: 5.88;
    object-fit: contain;
    object-position: center;
    width: 277px;
    align-self: flex-end;
    margin-top: 92px;
    max-width: 100%;
  }
  
  @media (max-width: 991px) {
    .logo {
      margin-top: 40px;
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }